*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    min-height: auto;
    position: relative;
    overflow: hidden;
}

video{
    width: 100%;
}

.absolute{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    top: 0;
    right: 0;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.575);
}


.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    gap:10px;
    padding:10px 0;
    text-align: center;
}

h1{
    font-family: "Raleway", sans-serif;
}

h2{
    font-family: "Inconsolata", sans-serif;
}

ul > li{
    list-style: none;
    font-family: "Raleway", sans-serif;
    margin-top: 1rem;
}
ul > li > a{
    color: white;
    text-decoration: none;
}

ul > li > a:hover{
    color: orange;
    font-size: 20px;
    transition: all 0.5s ease;
    background-color: rgba(255,255,255,1);
    box-shadow: rgb(238, 194, 75) 0px 0px 2px 5px;
    border-radius: 5px;
    padding: 4px;
}
